html{
    font-family: Verdana, Geneva, sans-serif;
    margin: 0px;
    padding: 0px;
    height:100%;
}

body{
    margin: 0px 0px 0px 0px;
    min-width:700px;
    padding: 0px;
    height:100%;
}

#wrapper{
    width:100%;
    height: 100%;
}

#beleuchtung{
    border-style: dashed;
    height: 300px;
    margin: 30px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fff495;
    
}

#bewaesserung{
    border-style: dashed;
    height: 300px;
    margin: 30px;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #96e5ff;
}

#content-part{
    
    height: 300px;
    width: 40%;

}

#logo{
    float:left;
}

#top{
    width:100%;
    height:120px;
    float:left;
}

#content{
    background-color:#cdffbd;  
    width:100%;
    height: 100%;
    float:left;
}

#heading {
    font-weight: bold;
    font-size: x-large;
    color: #000;
    padding-top: 50px;
}
