<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>Intelligenter Blumentopf</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
  <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
</head>
<body>
<div id="wrapper">
  <header>
    <div class="container clearfix">
      <h1>Control Panel "Intelligenter Blumentopf"</h1>
    </div>
  </header>