<!DOCTYPE html> 
<html>
<head>
	<meta charset="UTF-8" />
	<title>Intelligenter Blumentopf</title>
	<meta name="description" content="Kurzbeschreibung" />
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
 <body>
    <div id="wrapper">
      <div id="top">
        <img src="/static/logo.png" id="logo" width="90px" alt="Logo">
        <div id="heading">
            Control Panel "Intelligenter Blumentopf"</b>
        </div> 
      </div>
        <div id="content">
            <div id="beleuchtung">
                <h3>Beleuchtungs-Steuerung</h2>
            </div> 
            <div id="bewaesserung">
                <h3>Bewässerungs-Steuerung</h2>
            </div> 
        </div> 
      </div>
  </div>