<!DOCTYPE html> 
<html>
<head>
	<meta charset="UTF-8" />
	<title>Intelligenter Blumentopf</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css') }}">
  <script type=text/javascript src="{{url_for('static', filename='jquery.js') }}"></script>
  <script type=text/javascript src="{{url_for('static', filename='moment.js') }}"></script>
  <script type=text/javascript src="{{url_for('static', filename='Chart.min.js') }}"></script>
  <script type=text/javascript src="{{url_for('static', filename='papaparse.min.js') }}"></script>
  <script type=text/javascript src="{{url_for('static', filename='main.js') }}"></script>
  
</head>
 <body>
    <div id="wrapper">
        <header>
            <div class="container clearfix">
                <h1>Control Panel "Intelligenter Blumentopf"</h1>
            </div>
        </header>
        <div class="container clearfix">
            <div class="block widget">
                <h3>Temperatur</h3>
                <div class="canvas-container">
                    <canvas id="temperature"></canvas>
                </div>
            </div>
            <div class="block widget">
                <h3>Luftfeuchtigkeit</h3>
                <div class="canvas-container">
                    <canvas id="humidity"></canvas>
                </div>
            </div>
        </div>
        <div class="container clearfix">
            <div class="block widget">
                <h3>Füllstand Regentonne</h3>
                <div class="canvas-container">
                    <canvas id="level"></canvas>
                </div>
            </div>
            <div class="block widget">
                <h3>Helligkeit</h3>
                <div class="canvas-container">
                    <canvas id="brightness"></canvas>
                </div>
            </div>
        </div>
        <div class="container clearfix">
            <div class="block widget">
                <h3>Multiple</h3>
                <div class="canvas-container">
          			<canvas id="multipleChart"></canvas>
                </div>
            </div>
        </div>

        <div><p><a href="" class="button">Change Date Range</a></div>

<footer>
</footer>